* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  overflow-x: hidden; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0; }

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: white; }
  .hero ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/img/hero.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1; }
  .hero .nav {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .hero .nav .nav__title {
      font-weight: 300; }
    .hero .nav ul {
      margin-top: 16px;
      margin-left: auto;
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 2em; }
      .hero .nav ul li {
        list-style: none; }
      .hero .nav ul .nav__cerrar {
        display: none; }
    .hero .nav .nav__menu {
      margin-left: auto;
      cursor: pointer;
      display: none; }
      .hero .nav .nav__menu .nav__img {
        display: block;
        width: 30px; }
  .hero .hero__container {
    max-width: 800px;
    padding: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center; }
    .hero .hero__container .hero__title {
      font-size: 3.3rem; }
    .hero .hero__container .hero__p {
      margin-bottom: 20px;
      font-size: 1.2em; }

.btn {
  font-size: 1em;
  display: inline-block;
  background-color: #2091f9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 32px; }

.beneficios {
  text-align: center; }
  .beneficios .subtitulo {
    color: #001a49;
    font-size: 2rem;
    margin-bottom: 25px; }
  .beneficios .beneficios__p {
    line-height: 1.7; }
  .beneficios .beneficios__menu {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto)); }
    .beneficios .beneficios__menu .beneficios__iconos {
      display: grid;
      gap: 1em;
      justify-items: center;
      width: 260px;
      overflow: hidden;
      margin: auto; }
      .beneficios .beneficios__menu .beneficios__iconos .beneficios__icono {
        width: 40px; }

.asesorar {
  background-color: #e5e5f7;
  background-image: radial-gradient(#2091f9 0.5px, transparent 0.5px), radial-gradient(#2091f9 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden; }
  .asesorar .asesorar__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center; }
  .asesorar .asesorar__texto .subtitulo {
    color: #001a49;
    font-size: 2rem;
    margin-bottom: 25px; }
  .asesorar .asesorar__texto .asesorar__p {
    line-height: 1.7; }
  .asesorar .asesorar__imagen {
    max-width: 500px; }
    .asesorar .asesorar__imagen .asesorar__img {
      width: 100%;
      display: block; }

.promos {
  text-align: center; }
  .promos .subtitulo {
    color: #001a49;
    font-size: 2rem;
    margin-bottom: 25px; }
  .promos .promos__tabla {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center; }
    .promos .promos__tabla .promos__elemento {
      background-color: #e5e5f7;
      text-align: center;
      border-radius: 10px;
      width: 330px;
      padding: 40px; }
      .promos .promos__tabla .promos__elemento .promos__name {
        color: #696871;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 1.5rem; }
      .promos .promos__tabla .promos__elemento .promos__precio {
        font-size: 2.5rem;
        color: #1d293f; }
      .promos .promos__tabla .promos__elemento .promos__caract {
        margin-top: 35px;
        display: grid;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 50px;
        color: #696871; }
      .promos .promos__tabla .promos__elemento .promos__btn {
        display: block;
        padding: 20px 0;
        border-radius: 10px;
        text-decoration: none;
        background-color: #fff;
        font-weight: 600;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
    .promos .promos__tabla .promos__elemento--best {
      width: 370px;
      padding: 60px 40px;
      background-color: #FF7143; }
      .promos .promos__tabla .promos__elemento--best .promos__name {
        color: #fff; }
      .promos .promos__tabla .promos__elemento--best .promos__precio {
        color: #fff; }
      .promos .promos__tabla .promos__elemento--best .promos__item {
        color: #fff; }
      .promos .promos__tabla .promos__elemento--best .promos__btn {
        background-color: #9f3919;
        color: #fff; }

.companias {
  background-color: #e5e5f7; }
  .companias .companias__container {
    margin: 0 auto; }
    .companias .companias__container .companias__body {
      display: grid;
      grid-template-columns: 1fr max-content;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      grid-column: 2/3;
      grid-row: 1/2; }
      .companias .companias__container .companias__body .companias__texto {
        max-width: 700px; }
        .companias .companias__container .companias__body .companias__texto .subtitulo {
          color: #001a49;
          font-size: 2rem;
          margin-bottom: 25px; }
        .companias .companias__container .companias__body .companias__texto .companias__info {
          background-color: royalblue;
          color: #FFF;
          display: inline-block;
          padding: 5px; }
      .companias .companias__container .companias__body .companias__img {
        width: 150px;
        height: 150px; }

.preguntas .subtitulo {
  color: #001a49;
  font-size: 2rem;
  margin-bottom: 25px; }
